{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "@typescript-eslint/eslint-plugin",
    "simple-import-sort",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "no-console": "warn",
    "keyword-spacing": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": [
    "src/**/*.test"
  ]
}
