<!doctype html>
<html>
	<head>
		<title>Test Tpl</title>
		<meta charset="utf-8" />
		<style>
			.first:nth-of-type(1) {
				font-weight: bold;
			}
		</style>
		<!--script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js" async="async"></script-->
<script src="https://unpkg.com/vue@next"></script>
		<!--script src="./vue3.js" async="async"></script-->
		<script src="./f.js" async="async"></script>
		<!--script>
var data = {};
data.isShow = false;
data.isShow2 = 1;
data.arr = [];
data.arr2 = [];

data.red = 'red';
data.green = 'cyan';

//for (let i = 0; i < 1000; i++) {
//	d['a' + i] = Math.random();
//}

for (let i = 0; i < 5000; i++) {
	data.arr.push({
		name: 'r' + i//Math.random()
	});
	data.arr2.push(Math.random());
}

document.addEventListener("DOMContentLoaded", () => {
});

self.onload = () => {
	self.time = performance.now();
	app = new Vue({
		el: '#app',
		data: data,
		updated: () => {
			console.log((performance.now() - self.time));
		},
		mounted: function () {
			this.$nextTick(function () {
				console.log((performance.now() - self.time));
			});
		}
	});
}

function c() {
	self.time = performance.now();
	data.green = "green";
}
function s() {
	self.time = performance.now();
	data.isShow = !data.isShow;
}
function u() {
	self.time = performance.now();
	data.arr.unshift(11);
}
function p() {
	self.time = performance.now();
	data.arr.push(11);
}
		</script-->
	</head>
	<body>
	<div id="app">
		<h1 v-html="window.title"></h1>
		<fieldset>
			<label>
				<input type="checkbox"
					v-model="isShow" /> isShow
			</label>
			<label>
				<input type="checkbox"
					v-model="isShow2" /> isShow2
			</label>
		</fieldset>
		<fieldset>
			<input @input="u($event.target.value);" />
		</fieldset>
		<fieldset>
			<input @input="p($event.target.value);" />
		</fieldset>
		<div v-if="isShow">
			<span :style="{color: red}">SHOW (<span v-html="isShow"></span>)</span>
		</div>
		<template v-if="isShow2">
			<div :style="{color: green}">SHOW2 (<span v-html="isShow2"></span>)</div>
		</template>
		<ol v-if="arr.length > 0">
			<li v-for="(val, i) in arr">
				<span _data-prop-in-prop="`!`" v-if="!data.f"
					v-html="`${i * 1 + 1}) ${val.name || val} >${i * 1 + 1}) ${val.name || val}<, ${green}`"
					:style="{color: (isNaN(val) ? green : red)}"
					_click="alert('attr!-' + (val.name || val));"></span>
			</li>
		</ol>
		<ul v-if="arr2.length > 0">
			<li v-for="(val, i) in arr2">
				<span _data-prop-in-prop="`!->!`"
					v-html="`${i * 1 + 1}) ${val} >${i * 1 + 1}) ${val}<`"
					:style="{color: (isNaN(val) ? green : red)}"
					_click="`alert('attr!-' + (val.name || val));`"></span>
			</li>
		</ul>
		<div>
			<div class="first" v-if="isShow">First1</div>
			<div class="first" v-if="isShow2">First2</div>
			<div class="first">First3</div>
			<div v-for="(val, key) in arr2">
				<span v-html="`${key} => ${val.name}`"></span>
			</div>
		</div>
	</div>
	</body>
</html>
