.m {
	flex-grow: 1;
}
.m > .w {
	height: 100%;
}

.m-2col {
	display: grid;
	grid-template-columns:
		var(--menu_width)	var(--cnt_width);
	height: 100%;
	gap: var(--gap);
	padding-left: var(--gap);
}
.m-2col-col1 {
	border-right: solid 1px #ccc;
}
.m-2col-col2 {
/*
	padding-left: calc(var(--menu_width) + var(--gap) * 2);
	width: var(--cnt_width);*/
}

.sub_menu {
	padding-right: 10px;
}
.sub_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sub_menu li {
	padding: 4px 0;
/*
	font-size: 12px;
	line-height: 16px;*/
}
.sub_menu a[href] {
	color: inherit;
}


.cnt > h1,
.cnt > h2,
.cnt > h3,
.cnt > h4,
.cnt > p {
}
.cnt h1:first-child,
.cnt h2:first-child,
.cnt h3:first-child,
.cnt h4:first-child,
.cnt p:first-child,
.cnt ul:first-child {
	margin-top: 0;
}
.cnt h1:last-child,
.cnt h2:last-child,
.cnt h3:last-child,
.cnt h4:last-child,
.cnt p:last-child,
.cnt ul:last-child {
	margin-bottom: 0;
}

.cnt .z {
	margin: var(--gap) 0;
	margin-right: calc(-100vw + var(--menu_width) + var(--cnt_width) + var(--gap) * 3);
}
.cnt  .z {
	grid-template-columns:
		calc(var(--cnt_width))	auto	1fr;
}
