html {
	--gap: 10px;
}
.todos-filter {
	display: grid;
	grid-auto-flow: column;
	grid-gap: var(--gap);
	align-items: center;
	padding: var(--gap) 0;
}
.todos-item {
	display: grid;
	grid-template-columns: auto	1fr	auto;
	grid-gap: var(--gap);
	padding: var(--gap);
	border-top: solid 1px silver;
}
template.todos-item {
	display: none;
}
.todos-item-label {
	display: grid;
	grid-template-columns: auto	1fr;
	grid-gap: var(--gap);
	align-items: center;
	cursor: pointer;
}
.todos-item-ok {
	background: green;
	color: white;
}
